In [2]:
import pandas as pd

In [3]:
df_date = pd.read_csv('C:/Users/user/Desktop/kachra/dat.csv')

In [4]:
df_date['Date']=pd.to_datetime(df_date['Date'])

In [5]:
df_date['Month']= pd.DataFrame(list(df_date['Date'].apply(lambda x: x.month)))
df_date['Year']= pd.DataFrame(list(df_date['Date'].apply(lambda x: x.year)))

In [6]:
df_date.head()

        Date  Month  Year
0 2014-02-01      2  2014
1 2014-03-01      3  2014
2 2014-04-01      4  2014
3 2014-05-01      5  2014
4 2014-06-01      6  2014

In [ ]:
type(df_date['Date'])

In [ ]:
tmp_df['Date']=pd.to_datetime(tmp_df['Date'])

In [ ]:
tmp_df

In [ ]:
tmp_df.iloc[:,0].sapply?

In [ ]:
list(tmp_df['Date'].apply(lambda x: x.month))

In [ ]:
pd.DataFrame(list(tmp_df['Date'].apply(lambda x: x.month)))

In [ ]:
tmp_df['Month']= pd.DataFrame(list(tmp_df['Date'].apply(lambda x: x.month)))

In [ ]:
tmp_df